comment "Qualcomm Atheros Volans WLAN module"
config VOLANS_WLAN
	tristate "Qualcomm Atheros Volans WLAN module"
	default n
	help
	Add support for the Qualcomm Atheros Volans WLAN module

#	depends on WLAN
#	depends on CFG80211
#        depends on LIBRA_SDIOIF
