sudo: required
language: c
script:
#
# Travis CI Script by Caio Oliveira aka Caio99BR <caiooliveirafarias0@gmail.com>
#

#
# Dependencies
#
# The build.sh need LZ4 and ubuntu 12.xx not support 'LZ4' officialy
- sudo add-apt-repository ppa:nathan-renniewaldock/ppa -y
- sudo apt-get update

#
# Toolchain Choice
# This will clone TeamVee Prebuilt Toolchains in directory described in build.sh
#
# Branchs available is:
# Google Branch is "google_gcc" | (1) 4.7 / (2) 4.8
# Linaro Branch is "linaro_gcc" | (1) 4.8.4 / (2) 4.9.4

# Toolchain branch select here is Google 4.7
- export ntoolchainbranch="google_gcc"
- git clone -b "${ntoolchainbranch}" "https://github.com/TeamVee/android_prebuilt_toolchains" "../android_prebuilt_toolchains"

# ${ntoolchainchoice} is your Toolchain Choice
- export ntoolchainchoice="1"

# ${ntoolchain}
# "4" is "Toolchain Choice"
- ntoolchain="4${ntoolchainchoice}"

# ${ndevice}
# "2" is "Clean Kernel"
# "3" is "Device Choice"
- ndevice="23"

# ${ndevicechoice} is "Number of Choice under Device Choice"
# - export ndevicechoice="#"

# ${nbuild}
# "5" is to disable/enable output when building kernel
# "6" is "Build Kernel"
# "7" is "Zip the kernel and Modules"
# "q" is to Exit of Script
- nbuild="567q"

# Main variables
# Call of 'build.sh'
# - source build.sh <<< "${ndevice}${ndevicechoice}${ntoolchain}${nbuild}"

# Export of zipfile to deploy
# - export zipfile#="${zipfile}"

# Build for LG L1 II Single/Dual | E410 E411 E415 E420
- export ndevicechoice="1"
- source build.sh <<< "${ndevice}${ndevicechoice}${ntoolchain}${nbuild}"
- export zipfile1="${zipfile}"
# Build for LG L3 II Single/Dual | E425 E430 E431 E435"
- export ndevicechoice="2"
- source build.sh <<< "${ndevice}${ndevicechoice}${ntoolchain}${nbuild}"
- export zipfile2="${zipfile}"
# Build for LG L5 NFC | E610
- export ndevicechoice="3"
- source build.sh <<< "${ndevice}${ndevicechoice}${ntoolchain}${nbuild}"
- export zipfile3="${zipfile}"
# Build for LG L5 NoNFC | E612 E617
- export ndevicechoice="4"
- source build.sh <<< "${ndevice}${ndevicechoice}${ntoolchain}${nbuild}"
- export zipfile4="${zipfile}"
# Build for LG L7 NFC | P700
- export ndevicechoice="5"
- source build.sh <<< "${ndevice}${ndevicechoice}${ntoolchain}${nbuild}"
- export zipfile5="${zipfile}"
# Build for LG L7 NoNFC | P705
- export ndevicechoice="6"
- source build.sh <<< "${ndevice}${ndevicechoice}${ntoolchain}${nbuild}"
- export zipfile6="${zipfile}"
# Build for LG L7 NFC 8m | P708
- export ndevicechoice="7"
- source build.sh <<< "${ndevice}${ndevicechoice}${ntoolchain}${nbuild}"
- export zipfile7="${zipfile}"
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: "nni61sJP8PC5G90TAYKg7Ztmb89VlcrSbh+/I6An+rFsKEJrpuzXtV2qB5TPB1pZHKjqHFMhfGWhTpRVXX+yQPJpHUp/Zde+Gb58N0vnTDCRMm7kiPSgTLKGnPFri3MzeTVFUezdikTYS+htunZu8AWPww1QP8Ww+3oJ2K5+rb8="
  file:
    - "zip-creator/${zipfile1}"
    - "zip-creator/${zipfile2}"
    - "zip-creator/${zipfile3}"
    - "zip-creator/${zipfile4}"
    - "zip-creator/${zipfile5}"
    - "zip-creator/${zipfile6}"
    - "zip-creator/${zipfile7}"
  on:
    tags: true
